<!DOCTYPE html>
<html lang="ja">
  <%- partial('part_header', { title: 'CTF Dashboard' }) %>

  <body>

    <%- partial('part_navbar', { nickname: nickname, isLogin: true } ) %>

    
    <div class="container">
      <div class="col-md-12 col-sm-12">
        <h1 class="text-center">Problems</h1>
        <h2>フラグを入力</h2>
        <div class="center-block">
          <div class="input-group">
            <input id="answerbox" type="text" class="form-control" placeholder="Input flag" aria-describedby="input_Flag">
            <span class="input-group-btn"><button id="btn_answer" class="btn btn-default" type="button">Answer</button></span>
          </div>
        </div>
        <div class="alert"></div>
      </div>

      <div class="col-md-12 col-sm-12" style="margin-bottom: 50px">
      

        <h2>問題</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Id</th><th>標題</th><th>カテゴリ</th><th></th><th>状態</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i in problems) { %>
            <tr>
              <td><%= problems[i].problem_id %></td>
              <td><%= problems[i].subject %></td>
              <td><%= problems[i].category %></td>
              <td><a class="btn btn-default btn-xs" href="<%= problems[i].path %>" target="_blank">Go</a></td>
              <td>
                <% if (problems[i].problem_id in answered) { %>
                    <span class="glyphicon glyphicon-ok" style="color:#3c763d" aria-hidden="true"></span>
                <% } %>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        
      </div>
      <pre><%= profile %></pre>
    </div>
    
    <%- partial('part_footer') %>
    <script src="/js/answer.js"></script>
    
  </body>
</html>
