<!DOCTYPE html>
<html lang="ja">
  <%- partial('part_header', { title: 'CTF Dashboard' }) %>

  <body>

    <%- partial('part_navbar', { nickname: nickname, isLogin: true } ) %>

    
    <div class="container">
      <div class="col-md-12">
        <h3>ダッシュボード</h3>
      </div>
      
      <div class="col-md-8 col-sm-12" style="margin-bottom:10px">
        <h4>Flagを入力</h4>
        <div class="center-block">
          <form method="post" action="/answer">
            <div class="input-group">
              <input name="answerbox" type="text" class="form-control" placeholder="Input flag" aria-describedby="input_Flag">
              <span class="input-group-btn"><button id="btn_answer" class="btn btn-default" type="submit">Answer</button></span>
            </div>
            <input type="hidden" name="_csrf", value="<%= csrfToken %>">
          </form>
        </div>
        <% if (result == "correct") { %>
        <div style="padding: 5px">
        <div class="alert alert-success" role="alert">Congraturations!! Answer is correct.</div>
        </div>
        <% } else if (result == "incorrect") { %>
        <div style="padding: 5px">
        <div class="alert alert-danger" role="alert">Answer is incorrect.</div>
        </div>
        <% } %>
      </div>

      <div class="col-md-4 col-xs-12 bg-info" style="height:100px;border-radius:3px">
        <div class="col-md-6 col-xs-6" style="height:100%">
          <p class="text-center" style="font-size:24px;line-height:100px">スコア:</p>
        </div>
        <div class="col-md-6 col-xs-6" style="height:100%">
          <p class="text-center text-info" style="line-height:100px">
            <span style="font-size:48px"><%= score %></span>
            <span><% if (score > 1) { %>pts<% } else { %>pt<% } %></span>
          </p>
        </div>
      </div>
      
      <div class="col-md-12 col-xs-12" style="margin-bottom: 50px">
      

        <h4>問題</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>標題</th><th>カテゴリ</th><th>配点</th><th>正答</th><th></th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < problems.length; i++) { %>
            <tr>
              <td><%= problems[i].subject %></td>
              <td><%= problems[i].category %></td>
              <td><%= problems[i].score %></td>
              <td>
                <% if (problems[i].problem_id in answered) { %>
                    <span class="glyphicon glyphicon-ok" style="color:#3c763d" aria-hidden="true"></span>
                <% } %>
              </td>
              <td><a class="btn btn-default btn-xs" href="<%= problems[i].path %>" target="_blank">Go</a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        
      </div>
    </div>
    
    <%- partial('part_footer') %>
    <script src="/js/answer.js"></script>
    
  </body>
</html>
