<!DOCTYPE html>
<html lang="ja">
  <%- partial('part_header', { title: 'CTF Dashboard' }) %>

  <body>

    <%- partial('part_navbar', { nickname: nickname, isLogin: true } ) %>

    
    <div class="container">
      <div class="col-md-12">
        <h2 class="text-center">Capture the Flag</h2>
      </div>
      
      <div class="col-md-3 col-sm-6">
        <h2 class="text-center">スコア:</h2>
      </div>
      <div class="col-md-3 col-sm-6">
        <p class="bg-success text-center text-primary"><h1><%= score %></h1><h6>pt</h6></p>
      </div>
      
      <div class="col-md-6 col-sm-12">
        <h3>フラグを入力</h3>
        <div class="center-block">
          <form method="post" action="/answer">
          <div class="input-group">
            <input name="answerbox" type="text" class="form-control" placeholder="Input flag" aria-describedby="input_Flag">
            <span class="input-group-btn"><button id="btn_answer" class="btn btn-default" type="submit">Answer</button></span>
          </div>
          </form>
        </div>
        <% if (result == "correct") { %>
        <div style="padding: 5px">
        <div class="alert alert-success" role="alert">Congraturations!! Answer is correct.</div>
        </div>
        <% } else if (result == "incorrect") { %>
        <div style="padding: 5px">
        <div class="alert alert-danger" role="alert">Answer is incorrect.</div>
        </div>
        <% } %>
      </div>

      <div class="col-md-12 col-sm-12" style="margin-bottom: 50px">
      

        <h3>問題</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Id</th><th>標題</th><th>カテゴリ</th><th>状態</th><th></th>
            </tr>
          </thead>
          <tbody>
            <% for (var i in problems) { %>
            <tr>
              <td><%= problems[i].problem_id %></td>
              <td><%= problems[i].subject %></td>
              <td><%= problems[i].category %></td>
              <td>
                <% if (problems[i].problem_id in answered) { %>
                    <span class="glyphicon glyphicon-ok" style="color:#3c763d" aria-hidden="true"></span>
                <% } %>
              </td>
              <td><a class="btn btn-default btn-xs" href="<%= problems[i].path %>" target="_blank">Go</a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        
      </div>
    </div>
    
    <%- partial('part_footer') %>
    <script src="/js/answer.js"></script>
    
  </body>
</html>
